@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);

	/* Paragraph */
	--transparent-white: hsla(0, 0%, 100%, 0.75);

	/* Background, headings, Buttons */
	--very-light-gray: hsl(0, 0%, 95%);

	/* Fonts-family */
	--body-font: "Lexend Deca", sans-serif;
	--headings-font: "Big Shoulders Display", cursive;
}

html {
	font-size: 10px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 2rem;
	font-size: 1.5rem;
	font-family: var(--body-font);
	background-color: var(--very-light-gray);
}

section.cards-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 900px;
	border-radius: 5px;
	box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.card {
	padding: 4rem;
}

.card img {
	width: 60px;
}

.card h3 {
	margin: 3rem 0 3rem;
	font-family: var(--headings-font);
	font-size: 3.5rem;
	text-transform: uppercase;
	color: var(--very-light-gray);
}

.card p {
	line-height: 1.6;
	color: var(--transparent-white);
}

.card .btn {
	margin-top: 10rem;
	padding: 1.5rem 3.5rem;
	border-radius: 50px;
	border: none;
	font-family: var(--body-font);
	background-color: var(--very-light-gray);
	cursor: pointer;
}

.card:nth-child(1) {
	background-color: var(--bright-orange);
}
.card:nth-child(1) .btn {
	color: var(--bright-orange);
}

.card:nth-child(2) {
	background-color: var(--dark-cyan);
}
.card:nth-child(2) .btn {
	color: var(--dark-cyan);
}

.card:nth-child(3) {
	background-color: var(--very-dark-cyan);
}
.card:nth-child(3) .btn {
	color: var(--very-dark-cyan);
}

@media (max-width: 768px) {
	section.cards-container {
		grid-template-columns: 1fr;
	}

	.card .btn {
		margin-top: 1rem;
	}
}
